body {
    font-family: sans-serif;
}
a:link {
    color: #fff;
    text-decoration: none;
}
li {
    display: inline-block;
    margin-left: 0px;
    width: 33%;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: -1px;
}
li:hover {
    background-color: #66CD00;
}
ul {
    width: 960px;
    background-color: #458B00;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}
header {
    width: 960px;
    background-color: #458B00;
    margin: 0 auto;
}
header h1 {
    font-size: 25pt;
    float: left;
    color: #fff;
    padding-left: 10px;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
}
#splash_image {
    margin: 0;
}
#social_media {
    float: right;
    padding-top: 6px;
    padding-right: 5px;
    color: #fff;
}
#social_media img {
    height: 25px;
}
#listing {
    background-color: #BCED91;
    width: 960px;
    margin-top: 0px;
}
#listing p {
    margin: 0px;
    padding: 5px;
}
#listing form {
    padding-left: 15px;
}
#listing h1 {
    padding-top: 5px;
    margin-bottom: 0px;
    font-weight: normal;
    margin-top: -70px;
    color: #fff;
    font-weight: bold;
}
h1 {
    padding: 0px;
    margin-top: 0px;
}